name: Stryker Pipeline

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x    
    - name: Restore tools
      run: dotnet tool restore
    - name: Restore dependencies
      run: dotnet restore Calculator/Calculator.sln
    - name: Build
      run: dotnet build Calculator/Calculator.sln --no-restore
    - name: Deploy container
      uses: ./.github/actions/deploy-container
      with:
        container-name: calculator
        container-path: "./Calculator/Calculator/Dockerfile"
        container-context: Calculator
  deploydev:
    runs-on: ubuntu-latest
    environment: Dev
    needs: [ build ]
    steps:
    - uses: actions/checkout@v3
    - name: Echo
      shell: bash
      run: echo "hello"
      
  deploystaging:
    runs-on: ubuntu-latest
    environment: Staging
    needs: [ deploydev ]
    steps:
    - uses: actions/checkout@v3
    - name: Echo
      shell: bash
      run: echo "hello from staging"
      
