name: Stryker Pipeline

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x    
    - name: Restore tools
      run: dotnet tool restore
    - name: Restore dependencies
      run: dotnet restore Calculator/Calculator.sln
    - name: Build
      run: dotnet build Calculator/Calculator.sln --no-restore
    - name: Log in to the Container registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        file: "./Calculator/Calculator/Dockerfile"
        context: Calculator
        push: true
        tags: |
          ghcr.io/guypritchard/calculator:latest
          ghcr.io/guypritchard/calculator:1.0.0
        